<div class="parallax-wrapper">
  <parallax pic="./img/sb14.jpg"></parallax>
</div>

<div class="container">

  <!-- About Section -->

    <div class="row">
      <div class="col s12">
        <h4>Sideboard is a casual and cozy meeting place where people come to share our passion for quality handcrafted comfort food and beverage.</h4>
          <p>Sideboard neighborhood kitchen and coffee bar is dedicated to creating handcrafted comfort food taking into account the season and availability of natural, local, organic, and sustainable ingredients whenever possible. All menu items and condiments are house made or sourced from purveyors who share our vision and passion in creating products which we believe to be the best available. Simply prepared, our rustic comfort food comes from the heart. Signature items will be available daily.</p>
          <p>Our legendary coffee service begins with a selection of coffee beans which have been sourced from artisan's hand roasting in small batches. Our master craftsmen baristas measure and grind for individual French press or filter drip ensuring the freshest cup possible. We take special care in creating beautiful espresso drinks served European style in porcelain cups returning to sensuality and refinement. Teas and other specialty beverages are available daily.</p>
          <p>Sideboard is a Green Certified restaurant.</p>
      </div>
    </div>

    <br>
    <div class="divider"></div>
    <br>

    <!-- Social Media -->

      <div class="row">
        <div class="col s12 social-media-section">
          <h4>Follow us on Social Media:</h4>
          <br>
            <div class="social-media-buttons">
              <a style="color: white !important;" class="waves-effect waves-light btn" ui-sref="cart">
                <i style="color: white !important;" class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
              <a style="color: white !important;" class="waves-effect waves-light btn" ui-sref="cart">
                <i style="color: white !important;" class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
              <a style="color: white !important;" class="waves-effect waves-light btn" ui-sref="cart">
                <i style="color: white !important;" class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
              <a style="color: white !important;" class="waves-effect waves-light btn" ui-sref="cart">
                <i style="color: white !important;" class="fa fa-yelp" aria-hidden="true"></i> Yelp</a>
            </div>
        </div>
      </div>

    <!-- Instagram Feed -->
    <section class="instafeed col s12" ng-controller="ShowImages as images">
      <div class="bar">
            <i class="fa fa-instagram" aria-hidden="true"></i>
                <!-- These two buttons switch the layout variable,
                     which causes the correct UL to be shown. -->
                <a class="list-icon" ng-class="{active: layout == 'list'}" ng-click="layout = 'list'"></a>
                <a class="grid-icon" ng-class="{active: layout == 'grid'}" ng-click="layout = 'grid'"></a>
            </div>

            <ul ng-show="layout == 'grid'" class="grid">
                <!-- A view with big photos and no text -->
                <li ng-repeat="p in pics">
                    <a href="{{p.link}}" target="_blank"><img ng-src="{{p.images.low_resolution.url}}" /></a>
                </li>
            </ul>
            <ul ng-show="layout == 'list'" class="list">
                <!-- A compact view smaller photos and titles -->
                <li ng-repeat="p in pics">
                    <a href="{{p.link}}" target="_blank"><img ng-src="{{p.images.thumbnail.url}}" /></a>
                    <p>{{p.caption.text}}</p>
                </li>
            </ul>
    </section>

  </div>

  <!-- Staff Bios -->

  <!-- <br>
  <div class="divider"></div>
  <br>

  <div class="container">

  <div class="card-panel grey lighten-5 z-depth-1">
    <div class="row valign-wrapper">
      <div class="col s2">
        <img src="images/yuna.jpg" alt="" class="circle responsive-img">--> <!-- notice the "circle" class -->
      <!-- </div>
      <div class="col s10">
        <span class="black-text">
          This is a square image. Add the "circle" class to it to make it appear circular.
        </span>
      </div>
    </div>
  </div> -->

</div>

</div>
