
  <div class="slider">
  <ul class="slides">
    <li>
      <img src="../img/sb1.jpeg">
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="../img/sb6.jpeg">
      <div class="caption left-align">
        <h3>Left Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="../img/sb4.jpeg">
      <div class="caption right-align">
        <h3>Right Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="../img/sb2.jpeg">
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
  </ul>
</div>

<div class="divider"></div>

<div class="container">

  <div class="row">

  <!-- Small About Section -->
    <div class="col s12 m6 l9">
      <h3>LOREM IPSUM</h3>
        <p>klglkdfjghslkdjfghskldfjghs</p>
        <p>klglkdfjghslkdjfghskldfjghs</p>
        <p>klglkdfjghslkdjfghskldfjghs</p>
        <p>klglkdfjghslkdjfghskldfjghs</p>
    </div>

    <!-- Small Contact Information -->

    <div class="col s12 m6 l3">
      <h4>sdfsdf</h4>
        <p>sdfgdfgsdf</p>
      <h4>sdfsdf</h4>
        <p>sdfgdfgsdf</p>
      <h4>sdfsdf</h4>
        <p>sdfgdfgsdf</p>
    </div>

  </div>



</div>

<div class="divider"></div>
<br>

<div class="container">
  <div class="row">
    <div class="valign-wrapper col s12 m4 l4 bottom-nav menu">
      <h5 class="valign center-align white-text" id="bullshit"><a ui-sref="menu">Menu</a></h5>
    </div>
    <div class="valign-wrapper col s12 m4 l4 bottom-nav locations">
      <h5 class="valign center-align white-text" id="bullshit"><a ui-sref="locations">Locations</a></h5>
    </div>
    <div class="valign-wrapper col s12 m4 l4 bottom-nav shop">
      <h5 class="valign center-align white-text" id="bullshit"><a ui-sref="shop">Shop</a></h5>      
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
  $('.slider').slider();
  });
</script>
