<br>
<div class="divider"></div>
<br>

<div class="container">
  <div class="row">

    <div class="col s12 m6 l6">
      <h3>Sideboard Danville</h3>
      <p><strong>90 Railroad Avenue Danville, Ca 94526</strong></p>
      <p>925.984.2713</p>
      <p>info@itsonthesideboard.com</p>
      <p>Hours: </p>
      <p>Sunday - Monday 8 am - 8 pm</p>
      <p>Tuesday - Saturday 8 am - 9 pm</p>
    </div>

    <div class="col s12 m6 l6">
      <img class="responsive-img" src="../img/sb5.jpeg">
    </div>

  </div>

  <br>
  <div class="divider"></div>
  <br>

  <div class="row">

    <div class="col s12 m6 l6">
      <img class="responsive-img" src="../img/sb9.jpg">
    </div>

    <div class="col s12 m6 l6">
      <h3>Sideboard Lafayette</h3>
      <p><strong>3535 Plaza Way Lafayette, Ca 94549</strong></p>
      <p>925.310.4773</p>
      <p>info@itsonthesideboard.com</p>
      <p>Hours: </p>
      <p>Sunday - Monday 8 am - 8 pm</p>
      <p>Tuesday - Saturday 8 am - 9 pm</p>
    </div>

  </div>

</div>
