<br>
<div class="divider"></div>
<br>

<!-- NOTE See if you can change the position of this stupid pos-->
<!-- NOTE Also fix the lat and long positions-->

<div class = "container">
  <div
  default-style = "false"
  class = "gmap"
  map-lazy-load="https://maps.google.com/maps/api/js"
  map-lazy-load-params="{{googleMapsUrl}}"
  ng-controller="gmapController">
  <ng-map center="-25.363882,131.044922" zoom="4">
    <marker position="-25.363882,131.044922" title="Hello World!"></marker>
  </ng-map>
  </div>
</div>

<br>
<div class="divider"></div>
<br>

<!-- NOTE Fix the styles here they look bad -->

<div class="container">
  <div class="row">

    <div class="col s12 m6 l6">
      <h3>Sideboard Danville</h3>
      <p><strong>90 Railroad Avenue Danville, Ca 94526</strong></p>
      <p>925.984.2713</p>
      <p>info@itsonthesideboard.com</p>
      <p>Hours: </p>
      <p>Sunday - Monday: 8 am - 8 pm</p>
      <p>Tuesday - Saturday: 8 am - 9 pm</p>
    </div>

    <div class="col s12 m6 l6">
      <img class="responsive-img" src="../img/sb5.jpeg">
    </div>

  <br>
  <div class="divider"></div>
  <br>

  <div class="row">

    <div class="col s12 m6 l6">
      <img class="responsive-img" src="../img/sb9.jpg">
    </div>

    <div class="col s12 m6 l6">
      <h3>Sideboard Lafayette</h3>
      <p><strong>3535 Plaza Way Lafayette, Ca 94549</strong></p>
      <p>925.310.4773</p>
      <p>info@itsonthesideboard.com</p>
      <p>Hours: </p>
      <p>Sunday - Monday: 8 am - 8 pm</p>
      <p>Tuesday - Saturday: 8 am - 9 pm</p>
    </div>

    <br>
    <br>
    <br>
    <br>

</div>
