<br>
<div class="container">

  <div class="row">
    <div class="col s12 center-align">
      <h3 id="beverage">- Beverage Menu -</h3>
      <p>{{menuItems}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center-align">
      <h3 id="weekdayMorning">- Weekday Morning -</h3>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center-align">
      <h3 id="fridayMorning">- Friday Morning -</h3>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center-align">
      <h3 id="weekendMorning">- Weekend Morning -</h3>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center-align">
      <h3 id="lunch">- Lunch -</h3>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center-align">
      <h3 id="dinner">- Dinner -</h3>
    </div>
  </div>

</div>
